<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title mb-3 text-center">Acerca de Mi Gestor de Gastos</h2>
                    <p class="card-text">
                        Esta aplicación fue desarrollada como Trabajo Práctico Final para el Seminario Angular 2025. Su
                        objetivo es ayudarte a llevar un registro simple y visual de tus gastos mensuales.
                    </p>
                    <p class="card-text">
                        Desarrollado por Esteban Villanueva
                    </p>
                    <p class="card-text">
                        Versión: 1.0.0
                </div>
            </div>
        </div>
    </div>
</div>