<div>
  <ul class="nav flex-column">
    <li class="nav-item mb-1"> <a class="nav-link active text-primary" aria-current="page" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="bi bi-speedometer2"></i>
        <span>Dashboard</span> </a>
    </li>
    <li class="nav-item mb-1">
      <a class="nav-link text-secondary" routerLink="/about" routerLinkActive="active">
        <i class="bi bi-info-circle"></i>
        <span>Acerca de</span> </a>
    </li>
  </ul>
</div>